.dropone {

   color: #3f51b5 !important;
}

.show>.btn-primary.dropdown-toggle ,
.btn-primary{
   
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

div[x-placement="bottom-start"]{
    display: none !important;
}

.bgimg{
    background-image: url('./images/slide_4.jpg');
    background-color: blue;
}